.form-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-around;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0% 0% 0%;
}

.form-button-container{
    display: flex;
    justify-content: flex-end;
    margin: 10% 0 0 0;
    width: 100%;
    height: 100%;
    font-family: 'Mandali', sans-serif;
    color: cornflowerblue;
}

.form-capacity-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: 'Mandali', sans-serif;
    color: cornflowerblue;
  }
  
  .form-wrapper > span{
    color: var(--button-color);
    font-size: 140%;
    font-style: normal;
  }

  h3{
    font-family: 'Mandali', sans-serif;
    color: cornflowerblue;
  }
  