.navigation-container{
    display: flex;
}

.navigation-container li{
    display: block;
}

.navigation-container {
    margin-top: 0;
}
.navigation-container ul {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
}

.navigation-container ul li {
    font-weight: 400;
    padding: 5%;
    font-size: 100%;
    transition: background .125s ease;
    border-radius: 2%;
}

.navigation-container ul li:hover {
    cursor: pointer;
}