html{
  color: gray;
  background-color: ghostwhite;
  padding: 25px;
  font-family: 'Mandali', sans-serif;

}

div{
  width: 100%;
  height: 100%;
  justify-content: center;
  font-family: 'Mandali', sans-serif;
  color: cornflowerblue;
}

p{

}
body {

}

header {
/*display: flex;*/
}

table, td, th, tr {
  border: 1px solid black;
}

table {
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}



table, td, th {
  border: 1px solid black;
}


th {
  text-align: center;
}

form p{
  display: none;
}

p{
  width: 600px;
  text-align: center;
  text-justify: inter-word;
}

.button {
  border: none;
  color: white;
  padding: 22px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 120px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:cornflowerblue !important;
}

.TextField {
  color:darkgrey;
}


h1{
  font-family: 'Mandali', sans-serif;
  color: cornflowerblue;
}

h2{
  font-family: 'Mandali', sans-serif;
  color: cornflowerblue;
}

span{
  color: var(--button-color);
  font-size: 140%;
  font-style: normal;
}

img {
  margin-left: auto;
  margin-right: auto;
}


label {
  padding-right: 15px;
  color: black;
}

#logo {
  cursor: pointer; 
}

li {
  color:dimgray;
}