html{
  color: gray;
  background-color: ghostwhite;
  padding: 25px;
}

div{
  width: 100%;
  height: 100%;
  justify-content: center;
}
p{

}
body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; */
}

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

table, td, th, tr {
  border: 1px solid black;
}

table {
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}



table, td, th {
  border: 1px solid black;
}


th {
  text-align: center;
}

form p{
  display: none;
}

p{
  width: 600px;
  text-align: center;
  text-justify: inter-word;
}

.button {
  border: none;
  color: white;
  padding: 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 120px;
}


h1{
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
}

span{
  color: var(--button-color);
  font-size: 140%;
  font-style: normal;
}

img {
  margin-left: auto;
  margin-right: auto;
}

#logo {
  text-align: center;
  position: unset;
}