.user-profile-container{
    /* display:flex;
    justify-content: right; */
}

.user-profile-wrapper{
    display:flex;
    width: 100%;
    justify-content: right;
}

.user-profile{
    padding: 0 10px 0 10px;
}

.user-profile:hover{
    border-bottom: 3px solid #aaa;
}