.user-profile-container{
    /* display:flex;
    justify-content: right; */
    font-family: 'Mandali', sans-serif;
}

.user-profile-wrapper{
    display:flex;
    width: 100%;
    justify-content: right;
}

.user-profile{
    color: #007bff;
    padding: 0 10px 0 10px;
    font-family: 'Mandali', sans-serif;
    
}

.user-profile:hover{
    border-bottom: 3px solid #aaa;
    text-decoration: none;
}